.music {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--cl-light-gray);
  color: var(--cl-text-obsidian);
}

.music .music-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-image: url("/src/assets/music.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.music .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-color: #2a2826;
  padding-top: 4rem; 
}
.music .header-text h1 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: white;
  text-align: center;
  line-height: 1.5;
  width: 90%;
  white-space: pre-wrap;
  padding-top: calc(80px + 2rem);;
}

.wave10 {
  transform: translateY(-1px);
}

.music .playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: min(90%, 1600px);
  margin: 0 auto;
  padding: 2rem 0;
}

.music .playlists iframe {
  min-height: 50vh;
}

.music .lyrics-animation {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--cl-light-gray);
}

.music .lyrics-animation > * {
  align-self: center;
  justify-self: center;
}

.music .lyrics-animation p {
  font-size: 3rem;
  font-weight: var(--fw-medium);
  color: var(--cl-text-obsidian);
  line-height: 1.5;
  text-align: center;
}

