.introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100%;
  background-color: var(--cl-soft-mint-green);
  border: 1px dashed blue;	
}

.introduction .icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
}

.introduction .introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  border: 1px dashed green;
}
.introduction .introduction-text .introduction-paragraph {
  font-size: 1rem;
  font-weight: var(--fw-ligth);
  color: var(--cl-text-obsidian);
  width: min(90%, 600px);
  text-align: left;

  border: 1px dashed yellow;
}
