.writing {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #0F253D;
  color: var(--cl-text-obsidian);
}

.writing .writing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.writing-image {
  position: relative;
  width: auto;
  height: 100vh;
}
.writing-image img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  background-position: top;
  display: block;
}

.writing-image .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--cl-text-obsidian);
  position: absolute;
  top: 20%;
  z-index: 100;
}
.writing-image .title h1 {
  width: min(90%, 1300px);
  margin-top: 1rem;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: white;
  text-align: center;
  text-shadow: 0px 2px 7px rgba(0,0,0,0.5);
}

.writing .divider {
  width: 100%;
  height: 2px;
  background-color: var(--cl-light-gray);
  margin-bottom: 1rem;
}

.writing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: min(90%, 1300px);
  align-self: center;
  position: relative;
}
.writing-card {
  flex: 1 1 calc(33.333% - 20px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.writing-card.expanded {
  grid-column: span 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.reorganized .writing-card:not(.expanded) {
  grid-column: span 3;
}

.writing-card-content button {
  background-color: var(--cl-deep-teal);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}
.writing-card-content button:hover {
  background-color: var(--cl-light-sky-blue);
}